//Fade without menu symbol
@keyframes fadeMenuInActive {
  0% {
    opacity: 0;
  }
  80% {
    bottom: -9px;
  }
  100% {
    opacity: 1;
    bottom: -5px;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeMenuInActive {
  0% {
    opacity: 0;
  }
  80% {
    bottom: -9px;
  }
  100% {
    opacity: 1;
    bottom: -5px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeMenuInActive {
  0% {
    opacity: 0;
  }
  80% {
    bottom: -9px;
  }
  100% {
    opacity: 1;
    bottom: -5px;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeMenuInActive {
  0% {
    opacity: 0;
  }
  80% {
    bottom: -9px;
  }
  100% {
    opacity: 1;
    bottom: -5px;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeMenuInActive {
  0% {
    opacity: 0;
  }
  80% {
    bottom: -9px;
  }
  100% {
    opacity: 1;
    bottom: -5px;
  }
}

//The end - Fade without menu symbol

//FadeInDown
@keyframes fadeInDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeInDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeInDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeInDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidePage {
  0% {
    width: 100%;
    left: 0;
  }

  50% {
    width: 0;
    left: -50px
  }

  100% {
    width: 100%;
    left: 0;
  }
}

@keyframes slidePage2 {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: .8;
  }
}

@keyframes slideProgress {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInIconWork {
  0% {
    bottom: -37.5px;
  }
  100% {
    bottom: -17.5px;
  }
}

@keyframes workHeight {
  0% {
    height: 10px;
  }
  100% {
    height: 100%;
  }
}

@keyframes fadeSearch {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

