@font-face {
  font-family: Lato-Black;
  src: url(../font/Lato/Lato-Black.woff);
}

@font-face {
  font-family: Lato-BlackItalic;
  src: url(../font/Lato/Lato-BlackItalic.woff);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../font/Lato/Lato-Bold.woff);
}

@font-face {
  font-family: Lato-BoldItalic;
  src: url(../font/Lato/Lato-BoldItalic.woff);
}

@font-face {
  font-family: Lato-Hairline;
  src: url(../font/Lato/Lato-Hairline.woff);
}

@font-face {
  font-family: Lato-HairlineItalic;
  src: url(../font/Lato/Lato-HairlineItalic.woff);
}

@font-face {
  font-family: Lato-Italic;
  src: url(../font/Lato/Lato-Italic.woff);
}

@font-face {
  font-family: Lato-Light;
  src: url(../font/Lato/Lato-Light.woff);
}

@font-face {
  font-family: Lato-LightItalic;
  src: url(../font/Lato/Lato-LightItalic.woff);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../font/Lato/Lato-Regular.woff);
}

@font-face {
  font-family: Nunito-Black;
  src: url(../font/Nunito/Nunito-Black.woff);
}

@font-face {
  font-family: Nunito-BlackItalic;
  src: url(../font/Nunito/Nunito-BlackItalic.woff);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../font/Nunito/Nunito-Bold.woff);
}

@font-face {
  font-family: Nunito-BoldItalic;
  src: url(../font/Nunito/Nunito-BoldItalic.woff);
}

@font-face {
  font-family: Nunito-Hairline;
  src: url(../font/Nunito/Nunito-Hairline.woff);
}

@font-face {
  font-family: Nunito-HairlineItalic;
  src: url(../font/Nunito/Nunito-HairlineItalic.woff);
}

@font-face {
  font-family: Nunito-Italic;
  src: url(../font/Nunito/Nunito-Italic.woff);
}

@font-face {
  font-family: Nunito-Light;
  src: url(../font/Nunito/Nunito-Light.woff);
}

@font-face {
  font-family: Nunito-LightItalic;
  src: url(../font/Nunito/Nunito-LightItalic.woff);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../font/Nunito/Nunito-Regular.woff);
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url(../font/Nunito/Nunito-SemiBold.woff);
}

@font-face {
  font-family: Nunito-SemiBoldItalic;
  src: url(../font/Nunito/Nunito-SemiBoldItalic.woff);
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/materialicons/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}