* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body, html {
  font: 100% Lato-Regular, sans-serif;
}

body, html, main {
  width: 100%;
  height: 100%;
}

.main-container {
  max-width: 1336px;
  margin: 0 auto;
}

@mixin btn {
  color: #fff;
  background: $color-green-shadow;
  padding: 15px;
  font-size: 0.875rem;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  font-family: Nunito-Regular, sans-serif;

  &:hover {
    background: $color-green;
  }

  @media screen and (max-width: 769px) {
    & {
      font-family: Nunito-Black, sans-serif;
      text-transform: uppercase;
    }
  }
}

@mixin title {
  line-height: 40px;
  position: relative;
  font: 2.375rem Lato-Black, sans-serif;
  color: $color-black;
  margin-bottom: 34px;

  &:after {
    content: ' ';
    width: 40px;
    height: 7px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: $color-black-shadow;
  }
}

@mixin sub-title {
  font: 1.125rem Nunito-Regular, sans-serif;
  color: #303030;
  margin-bottom: 24px;
  max-width: 400px;
}

.color-1 {
  background: $color-green;
}
.color-2 {
  background: $color-orange;
}
.color-3 {
  background: $color-blue;
}
