$color-green: #1abc9c;
$color-green-shadow: #169f84;

$color-black: #252625;
$color-black-shadow: #303030;


$color-white: #ecf0f1;
$color-white-shadow: #bdc3c7;

$color-grey: #95a5a6;
$color-grey-shadow: #7f8c8d;

$color-red: #e74c3c;
$color-red-shadow: #c0392b;

$color-orange: #e67e22;
$color-orange-shadow: #d35400;

$color-blue-dark: #34495e;
$color-blue-dark-shadow: #2c3e50;

$color-blue: #3498db;
$color-blue-shadow: #2980b9;

$color-yellow: #f1c40f;
$color-yellow-shadow: #f39c12;

$color-purple: #9b59b6;
$color-purple-shadow: #8e44ad;