@font-face {
    font-family: Lato-Black;
    src: url(../font/Lato/Lato-Black.woff);
}

@font-face {
    font-family: Lato-BlackItalic;
    src: url(../font/Lato/Lato-BlackItalic.woff);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../font/Lato/Lato-Bold.woff);
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url(../font/Lato/Lato-BoldItalic.woff);
}

@font-face {
    font-family: Lato-Hairline;
    src: url(../font/Lato/Lato-Hairline.woff);
}

@font-face {
    font-family: Lato-HairlineItalic;
    src: url(../font/Lato/Lato-HairlineItalic.woff);
}

@font-face {
    font-family: Lato-Italic;
    src: url(../font/Lato/Lato-Italic.woff);
}

@font-face {
    font-family: Lato-Light;
    src: url(../font/Lato/Lato-Light.woff);
}

@font-face {
    font-family: Lato-LightItalic;
    src: url(../font/Lato/Lato-LightItalic.woff);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato/Lato-Regular.woff);
}

@font-face {
    font-family: Nunito-Black;
    src: url(../font/Nunito/Nunito-Black.woff);
}

@font-face {
    font-family: Nunito-BlackItalic;
    src: url(../font/Nunito/Nunito-BlackItalic.woff);
}

@font-face {
    font-family: Nunito-Bold;
    src: url(../font/Nunito/Nunito-Bold.woff);
}

@font-face {
    font-family: Nunito-BoldItalic;
    src: url(../font/Nunito/Nunito-BoldItalic.woff);
}

@font-face {
    font-family: Nunito-Hairline;
    src: url(../font/Nunito/Nunito-Hairline.woff);
}

@font-face {
    font-family: Nunito-HairlineItalic;
    src: url(../font/Nunito/Nunito-HairlineItalic.woff);
}

@font-face {
    font-family: Nunito-Italic;
    src: url(../font/Nunito/Nunito-Italic.woff);
}

@font-face {
    font-family: Nunito-Light;
    src: url(../font/Nunito/Nunito-Light.woff);
}

@font-face {
    font-family: Nunito-LightItalic;
    src: url(../font/Nunito/Nunito-LightItalic.woff);
}

@font-face {
    font-family: Nunito-Regular;
    src: url(../font/Nunito/Nunito-Regular.woff);
}

@font-face {
    font-family: Nunito-SemiBold;
    src: url(../font/Nunito/Nunito-SemiBold.woff);
}

@font-face {
    font-family: Nunito-SemiBoldItalic;
    src: url(../font/Nunito/Nunito-SemiBoldItalic.woff);
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/materialicons/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@keyframes fadeMenuInActive {
    0% {
        opacity: 0;
    }
    80% {
        bottom: -9px;
    }
    100% {
        opacity: 1;
        bottom: -5px;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeMenuInActive {
    0% {
        opacity: 0;
    }
    80% {
        bottom: -9px;
    }
    100% {
        opacity: 1;
        bottom: -5px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeMenuInActive {
    0% {
        opacity: 0;
    }
    80% {
        bottom: -9px;
    }
    100% {
        opacity: 1;
        bottom: -5px;
    }
}

/* Internet Explorer */
@-ms-keyframes fadeMenuInActive {
    0% {
        opacity: 0;
    }
    80% {
        bottom: -9px;
    }
    100% {
        opacity: 1;
        bottom: -5px;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeMenuInActive {
    0% {
        opacity: 0;
    }
    80% {
        bottom: -9px;
    }
    100% {
        opacity: 1;
        bottom: -5px;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeInDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* Internet Explorer */
@-ms-keyframes fadeInDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeInDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidePage {
    0% {
        width: 100%;
        left: 0;
    }
    50% {
        width: 0;
        left: -50px;
    }
    100% {
        width: 100%;
        left: 0;
    }
}

@keyframes slidePage2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
        top: 10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: .8;
    }
}

@keyframes slideProgress {
    0% {
        width: 1%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fadeInIconWork {
    0% {
        bottom: -37.5px;
    }
    100% {
        bottom: -17.5px;
    }
}

@keyframes workHeight {
    0% {
        height: 10px;
    }
    100% {
        height: 100%;
    }
}

@keyframes fadeSearch {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font: 100% Lato-Regular, sans-serif;
}

body, html, main {
    width: 100%;
    height: 100%;
}

.main-container {
    max-width: 1336px;
    margin: 0 auto;
}

.color-1 {
    background: #1abc9c;
}

.color-2 {
    background: #e67e22;
}

.color-3 {
    background: #3498db;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    font-family: Nunito-Regular, sans-serif;
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav > div div.logo img {
    width: 180px;
    cursor: pointer;
    transition: .3s;
}

nav > div div.logo img:hover {
    opacity: .8;
}

nav > div ul {
    display: flex;
    margin-left: auto;
}

nav > div ul li {
    list-style: none;
}

nav > div ul a {
    padding: 10px 15px;
    position: relative;
    font-family: Nunito-Light, sans-serif;
    transition: .3s;
    color: #252625;
}

nav > div ul a:hover {
    color: #1abc9c;
}

nav > div ul a.link-active {
    font-family: Nunito-Bold, sans-serif;
}

nav > div ul a.link-active::after {
    content: '';
    width: 12px;
    height: 7px;
    background: url("../img/link-simbol.svg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    animation: fadeMenuInActive .3s;
}

nav > div ul.menu-home li a {
    color: #fff;
}

nav > div ul.menu-home li a:hover {
    color: #1abc9c;
}

nav > div div.menu-background, nav > div .close, nav > div div.menu-mobile {
    display: none;
}

nav > div div.register button {
    color: #fff;
    background: #169f84;
    padding: 15px;
    font-size: 0.875rem;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    font-family: Nunito-Regular, sans-serif;
    margin-left: 15px;
}

nav > div div.register button:hover {
    background: #1abc9c;
}

@media screen and (max-width: 769px) {
    nav > div div.register button {
        font-family: Nunito-Black, sans-serif;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        background: #fff;
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    nav > div {
        padding: 10px 15px;
    }

    nav > div div.logo img {
        max-width: 140px;
    }

    nav > div .close, nav > div div.menu-mobile {
        display: block;
    }

    nav > div div.menu-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #303030;
        padding: 5px 10px;
        cursor: pointer;
    }

    nav > div div.menu-mobile button {
        padding: 0 5px;
        color: #303030;
        background: none;
        border: none;
        outline: none;
    }

    nav > div div.menu-mobile:active {
        opacity: .5;
    }

    nav div.register {
        display: none;
    }

    nav > div ul.menu-home li a {
        color: #252625;
    }

    nav > div ul.menu {
        position: fixed;
        top: 0;
        flex-direction: column;
        height: 100%;
        background: #ecf0f1;
        text-align: right;
        right: -225px;
        z-index: 3;
        transition: .3s;
    }

    nav > div ul.menu.menu-active {
        right: 0;
    }

    nav > div ul.menu a {
        font-family: Nunito-Bold, sans-serif;
    }

    nav > div ul.menu a.link-active {
        color: #1abc9c;
    }

    nav > div ul.menu a::after {
        display: none;
    }

    nav > div ul.menu a, nav > div ul.menu span {
        cursor: pointer;
        padding: 20px 30px;
        display: block;
        color: #252625;
        width: 100%;
        border-bottom: 1px solid #dee1e2;
    }

    nav > div ul.menu a:active, nav > div ul.menu span:active {
        background: #bdc3c7;
    }

    nav > div .menu-background {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background: #000;
        opacity: .8;
        z-index: 2;
        animation: fadeInBackground .3s;
    }

    nav > div .menu-background.menu-background-active {
        display: block;
    }
}

nav.nav-active {
    background: #fff;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav.nav-active > div {
    padding: 10px 15px;
}

nav.nav-active > div div.logo img {
    max-width: 140px;
}

nav.nav-active > div ul.menu-home a {
    padding: 10px 10px;
    color: #252625;
    font-size: 0.875rem;
    font-family: Nunito-Regular, sans-serif;
}

nav.nav-active > div ul.menu-home a.link-active {
    font-family: Nunito-Black, sans-serif;
}

nav.nav-active > div ul a::after {
    bottom: 0;
}

nav.nav-active > div div.register button {
    padding: 7px;
    margin-right: 10px;
}

@media screen and (max-width: 769px) {
    nav {
        background: #fff;
    }

    nav > div div.logo img {
        max-width: 140px;
    }

    nav > div div.menu-mobile {
        color: #303030;
    }

    nav > div div.menu-mobile button {
        color: #303030;
    }
}

footer {
    background: #252625;
}

footer > div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > div > div img {
    width: 140px;
}

footer > div > div p {
    font-size: 0.8rem;
    color: #fff;
    font-family: Nunito-Regular, sans-serif;
}

@media screen and (max-width: 500px) {
    footer > div {
        flex-direction: column;
    }

    footer > div > div {
        margin-bottom: 10px;
    }
}

.load {
    width: 100%;
    height: 100%;
    background: #169f84;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 50px;
}

.load > div {
    position: relative;
    width: 100%;
    max-width: 37px;
    height: 79.6px;
    margin-bottom: 35px;
    margin-top: auto;
}

.load > div .fill {
    width: 100%;
    background: #169f84;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .5;
    transition: .3s;
}

.load p {
    font: 2rem Nunito-Regular, sans-serif;
    text-align: center;
}

.load p.copyright {
    margin-top: auto;
    font-size: 0.875rem;
}

.load.load-disable {
    opacity: 0;
    animation: fadeInDown 1s;
}

header.home-header {
    width: 100%;
    height: 100%;
}

header.entrepreneur-header {
    height: auto;
}

header.entrepreneur-header .header-entrepreneur, header.entrepreneur-header .header-entrepreneur-page {
    margin: 90px auto auto auto;
    text-align: center;
}

header.entrepreneur-header .header-entrepreneur .text-intro, header.entrepreneur-header .header-entrepreneur-page .text-intro {
    line-height: 40px;
    position: relative;
    font: 2.375rem Lato-Black, sans-serif;
    color: #252625;
    margin-bottom: 34px;
    color: #2c3e50;
}

header.entrepreneur-header .header-entrepreneur .text-intro:after, header.entrepreneur-header .header-entrepreneur-page .text-intro:after {
    content: ' ';
    width: 40px;
    height: 7px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: #303030;
}

header.entrepreneur-header .header-entrepreneur .text-intro:after, header.entrepreneur-header .header-entrepreneur-page .text-intro:after {
    background: #DADADA;
    left: calc(50% - 20px);
}

header.entrepreneur-header .header-entrepreneur .text-intro em, header.entrepreneur-header .header-entrepreneur-page .text-intro em {
    font-style: normal;
    display: block;
    font-size: 1.75rem;
}

header.entrepreneur-header .header-entrepreneur-page {
    max-width: 650px;
    padding: 20px;
}

header.entrepreneur-header .header-entrepreneur-page .text-intro {
    font-size: 1.750rem;
    font-family: Nunito-Black, sans-serif;
    color: #252625;
    margin-bottom: 15px;
}

header.entrepreneur-header .header-entrepreneur-page .text-intro:after {
    display: none;
}

header.entrepreneur-header .header-entrepreneur-page .date {
    opacity: .5;
}

header.entrepreneur-header .header-entrepreneur-page .social-media {
    display: flex;
    justify-content: center;
}

header.entrepreneur-header .header-entrepreneur-page .social-media a {
    margin: 15px 5px;
    transition: .3s;
    opacity: .5;
}

header.entrepreneur-header .header-entrepreneur-page .social-media a:hover {
    opacity: 1;
}

header.entrepreneur-header .header-entrepreneur-page .social-media img {
    width: 20px;
}

.search {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background: #169f84;
}

.search.search-active {
    display: flex;
    animation: fadeSearch .3s;
}

.search form {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.search form input[type=text] {
    width: 80%;
    font-size: 2rem;
    max-width: 400px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    outline: none;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-family: Lato-Light, sans-serif;
}

.search form input[type=text]::placeholder {
    color: #fff;
    opacity: .4;
}

.search form button[type=submit] {
    background: none;
    border: none;
    cursor: pointer;
}

.search form button[type=submit]:hover {
    opacity: .5;
}

.search form button[type=reset] {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0);
    font-size: 0.8rem;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.search form button[type=reset]:hover {
    background: rgba(255, 255, 255, 0.2);
}

.search form i {
    color: #ecf0f1;
}

main {
    height: auto;
}

main section .header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
    padding: 15px 15px;
}

main section .header-section .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    left: 50px;
}

main section .header-section .filter ul {
    display: flex;
    list-style: none;
}

main section .header-section .filter ul a {
    font-size: 0.875rem;
    border-radius: 20px;
    padding: 10px 15px 11px 15px;
    color: #95a5a6;
    margin: 0 5px;
    display: inline-block;
}

main section .header-section .filter ul a:hover {
    color: #F85948;
}

main section .header-section .filter ul a.filter-active {
    color: #fff;
    background: #F85948;
}

main section .header-section .filter ul a:active {
    opacity: .3;
}

main section .header-section .filter .btn-search {
    position: relative;
    padding-left: 16px;
}

main section .header-section .filter .btn-search:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 10px;
    top: calc(50% - 5px);
    width: 2px;
    background: #bdc3c7;
}

main section .header-section .filter .btn-search button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #95a5a6;
}

main section .header-section .filter .btn-search button:active {
    opacity: .3;
}

main section .header-section .pagination {
    display: flex;
    align-items: center;
}

main section .header-section .pagination span {
    font-size: 0.875rem;
    color: #95a5a6;
    margin-right: 10px;
    display: inline-block;
}

main section .header-section .pagination button {
    margin: 2px;
    height: 30px;
    width: 30px;
    background: #95a5a6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

main section .header-section .pagination button:active {
    opacity: .6;
}

main section .header-section .pagination button i {
    font-size: 0.875rem;
}

main section .body-section {
    background: #EEEEEE;
    box-shadow: 0 2px 1px inset #dedddd;
    padding: 20px 0;
}

main section .body-section .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

main section .body-section .main-container article {
    padding: 25px;
    margin: 10px;
    background: #fff;
    max-width: 400px;
    height: 200px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section .body-section .main-container article .header-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section .body-section .main-container article .header-article .date {
    color: #bdc3c7;
}

main section .body-section .main-container article .header-article .category {
    color: #F85948;
}

main section .body-section .main-container article .body-article .title {
    color: #252625;
}

main section .body-section .main-container article .body-article .title:hover {
    color: #169f84;
}

main section .body-section .main-container article .footer-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section .body-section .main-container article .footer-article .img-author img {
    width: 40px;
    margin-right: 10px;
}

main section .body-section .main-container article .footer-article .author {
    margin-right: auto;
    color: #bdc3c7;
}

main section .body-section .main-container article .footer-article .social-media img {
    width: 20px;
    height: 20px;
    opacity: .5;
    cursor: pointer;
}

main section .body-section .main-container article .footer-article .social-media img:hover {
    opacity: 1;
}

main section .footer-section {
    display: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

main section .footer-section .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section .footer-section .pagination span {
    font-size: 0.875rem;
    color: #95a5a6;
    margin-right: 10px;
    display: inline-block;
}

main section .footer-section .pagination button {
    margin: 2px;
    height: 30px;
    width: 30px;
    background: #95a5a6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

main section .footer-section .pagination button:active {
    opacity: .6;
}

main section .footer-section .pagination button i {
    font-size: 0.875rem;
}

main .page-content {
    padding: 40px 20px;
    background: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .page-content p.page-text {
    font-family: Lato-Light, sans-serif;
    font-size: 1.125rem;
    color: #696969;
    line-height: 26px;
    max-width: 570px;
    margin-bottom: 30px;
}

main .page-content img {
    width: 100%;
    max-width: 700px;
    margin-bottom: 40px;
}

main .page-content a {
    color: #1abc9c;
}

main .page-content a:hover {
    color: #169f84;
}

main .page-content .author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
    width: 100%;
    max-width: 570px;
    padding: 20px 10px;
}

main .page-content .author > img {
    width: 40px;
    margin: 10px 10px 10px 0;
}

main .page-content .page-pagination {
    margin: 20px 0;
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
}

main .page-content .page-pagination a {
    color: #252625;
}

main .page-content .page-pagination a:hover h4 {
    color: #1abc9c;
}

main .page-content .page-pagination p, main .page-content .page-pagination i {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #95a5a6;
}

main .page-content .page-pagination p {
    text-transform: uppercase;
}

main .page-content .page-pagination i {
    padding: 5px;
}

main .page-content .page-pagination .next {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main .page-content .page-pagination h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

@media screen and (max-width: 900px) {
    header.entrepreneur-header .header-entrepreneur {
        margin: 89px auto auto auto;
    }

    main {
        height: auto;
    }

    main section .header-section {
        overflow: scroll;
        margin: 50px 0 0 0;
    }

    main section .header-section .filter {
        left: auto;
    }

    main section .header-section .btn-search, main section .header-section .pagination {
        display: none;
    }

    main section .body-section .main-container article .footer-article .social-media img {
        opacity: 1;
    }

    main section .footer-section {
        display: flex;
    }

    main section .footer-section .pagination span {
        margin: 0 0 15px 0;
        text-align: center;
    }

    main section .footer-section .pagination > div {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    main .page-content .page-pagination p {
        font-size: 12px;
    }

    main .page-content .page-pagination h4 {
        max-width: 124px;
    }
}
