.load {
  width: 100%;
  height: 100%;
  background: $color-green-shadow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 50px;

  & > div {
    position: relative;
    width: 100%;
    max-width: 37px;
    height: 79.6px;
    margin-bottom: 35px;
    margin-top: auto;

    .fill {
      width: 100%;
      background: $color-green-shadow;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: .5;
      transition: .3s;
    }
  }

  p {
    font: 2rem Nunito-Regular, sans-serif;
    text-align: center;
  }

  p.copyright {
    margin-top: auto;
    font-size: 0.875rem;
  }

  &.load-disable {
    opacity: 0;
    animation: fadeInDown 1s;
  }
}