nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-family: Nunito-Regular, sans-serif;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    div.logo {
      img {
        width: 180px;
        cursor: pointer;
        transition: .3s;

        &:hover {
          opacity: .8;
        }
      }
    }

    ul {
      display: flex;
      margin-left: auto;

      li {
        list-style: none;
      }

      a {
        padding: 10px 15px;
        position: relative;
        font-family: Nunito-Light, sans-serif;
        transition: .3s;
        color: $color-black;

        &:hover {
          color: $color-green;
        }

        &.link-active {
          font-family: Nunito-Bold, sans-serif;

          &::after {
            content: '';
            width: 12px;
            height: 7px;
            background: url('../img/link-simbol.svg') center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            bottom: -5px;
            left: calc(50% - 5px);
            animation: fadeMenuInActive .3s;
          }
        }
      }

      &.menu-home {
        li {

          a {
            color: #fff;

            &:hover {
              color: $color-green;
            }
          }
        }
      }
    }

    div.menu-background, .close, div.menu-mobile {
      display: none;
    }

    div.register {

      button {
        @include btn;
        margin-left: 15px;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    background: #fff;
    border-bottom: 1px solid rgba(200, 200, 200, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    & > div {
      padding: 10px 15px;
      div.logo {
        img {
          max-width: 140px;
        }
      }
      .close, div.menu-mobile {
        display: block;
      }

      div.menu-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-black-shadow;
        padding: 5px 10px;
        cursor: pointer;

        button {
          padding: 0 5px;
          color: $color-black-shadow;
          background: none;
          border: none;
          outline: none;
        }

        &:active {
          opacity: .5;
        }
      }
    }

    div.register {
      display: none;
    }

    & > div {
      ul {
        &.menu-home {
          li {

            a {
              color: $color-black;
            }
          }
        }
        &.menu {
          position: fixed;
          top: 0;
          flex-direction: column;
          height: 100%;
          background: $color-white;
          text-align: right;
          right: -225px;
          z-index: 3;
          transition: .3s;

          &.menu-active {
            right: 0;
          }

          a {
            font-family: Nunito-Bold, sans-serif;

            &.link-active {
              color: $color-green;
            }

            &::after {
              display: none;
            }

          }

          a, span {
            cursor: pointer;
            padding: 20px 30px;
            display: block;
            color: $color-black;
            width: 100%;
            border-bottom: 1px solid #dee1e2;

            &:active {
              background: $color-white-shadow;
              //background: $color-green;
              //color: #fff;
            }
          }

        }
      }

      .menu-background {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background: #000;
        opacity: .8;
        z-index: 2;
        animation: fadeInBackground .3s;

        &.menu-background-active {
          display: block;
        }
      }
    }
  }

  &.nav-active {
    background: #fff;
    border-bottom: 1px solid rgba(200, 200, 200, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    & > div {
      padding: 10px 15px;

      div.logo {
        img {
          max-width: 140px;
        }
      }

      ul {

        &.menu-home {
          a {

            padding: 10px 10px;
            color: $color-black;
            font-size: 0.875rem;
            font-family: Nunito-Regular, sans-serif;

            &.link-active {
              font-family: Nunito-Black, sans-serif;
            }
          }
        }
        a {

          &::after {
            bottom: 0;
          }

        }
      }

      div.register {

        button {
          padding: 7px;
          margin-right: 10px;
        }
      }

    }
  }
}

@media screen and (max-width: 769px) {
  nav {
    background: #fff;
    & > div {
      div.logo {
        img {
          max-width: 140px;
        }
      }
      div.menu-mobile {
        color: $color-black-shadow;

        button {
          color: $color-black-shadow;
        }
      }

    }
  }

}