footer {
  background: #252625;

  & > div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {

      img {
        width: 140px;
      }

      p {
        font-size: 0.8rem;
        color: #fff;
        font-family: Nunito-Regular, sans-serif;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  footer {
    & > div {
      flex-direction: column;

      & > div {
        margin-bottom: 10px;
      }
    }
  }
}
