@mixin btn-filter {
  height: 30px;
  width: 30px;
  background: $color-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    opacity: .6;
  }
  i {
    font-size: 0.875rem;
  }
}